<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rakki.mapper.BuyingMapper">
		
	<select id="getBuyingCount" resultType="countlist">
		SELECT 
		  (SELECT COUNT(*) FROM TBL_GOODS WHERE  STATUS = '0' AND GOODS_STAT = '0' AND ID = #{id} ) AS COUNT1,
		  (SELECT COUNT(*) FROM TBL_TRADE WHERE  BUYER_GOODS_NO IN ( SELECT GOODS_NO FROM TBL_GOODS WHERE STATUS = '0' AND GOODS_STAT = '1' AND ID = #{id} ) AND BUY_STAT NOT IN ('배송완료') ) AS COUNT2,
		  (SELECT COUNT(*) FROM TBL_TRADE WHERE  BUYER_GOODS_NO IN ( SELECT GOODS_NO FROM TBL_GOODS WHERE STATUS = '0' AND GOODS_STAT = '1' AND ID = #{id} ) AND BUY_STAT IN ('배송완료') ) AS COUNT3
	    FROM DUAL	  
	</select>	
	
	<select id="getBuyingList" resultType="buyinglist">
        SELECT ROWNUM NO, ID, NAME_EN, IMAGE, SIZE_TYPE, PRICE, REGDATE, TRADE_DATE, NVL(C.BUY_STAT,'구매입찰') BUY_STAT
		FROM
			(SELECT A.PRODUCT_NO, ID, NAME_EN, IMAGE, SIZE_TYPE, PRICE, REGDATE, TRADE_DATE, BUY_STAT   
				FROM TBL_GOODS A
				LEFT OUTER JOIN TBL_TRADE B ON (A.GOODS_NO = B.BUYER_GOODS_NO) 
                LEFT OUTER JOIN TBL_PRODUCT C ON (A.PRODUCT_NO = C.PRODUCT_NO)
				WHERE A.STATUS = '0' AND A.ID = #{id}  ORDER BY REGDATE ASC) C	  
	</select>	
	
		
</mapper>